wp-content/plugins/hello.php
wp-content/plugins/google-analytics-for-wordpress
wp-content/plugins/wordpress-importer
wp-content/plugins/wp-maintenance-mode
wp-content/themes/twenty*
wp-content/themes/sejameuc/css