@import 'colors.scss';

footer.bottom {
  text-align: left;
  color: $color-light;
  
  nav {
    .menu ul {
      list-style: none;

      li {
        margin-right: 2em;
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-light;

    &:hover {
      color: $color-white;
    }
  }
}

@media screen and (max-width:575px) {
  .bottom {
    .d-flex {
      flex-direction: column;
    }

    .to-the-top {
      margin-top: 2em;
    }
  }
}
