@import 'colors.scss';

.call-to-action {
  position: relative;
  overflow: hidden;

  .cover-image {
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: .75;
    z-index: 5;

    &.signup { background-image: url('../images/background-signup.jpg'); }
    &.gallery { background-image: url('../images/background-gallery.jpg'); }
  }

  .btn {
    position: relative;
    z-index: 10;

    &.enabled {
      background-color: $color-green;
      transition: all 100ms ease-out;
      box-shadow: 0 0 0 0 $color-very-dark;

      &:hover,
      &:focus {
        transform: translateX(-4px) translateY(-4px);
        box-shadow: 4px 4px 0 0 $color-very-dark;
      }
    }

    &.disabled {
      background-color: $color-very-dark;
      color: $color-green;
      opacity: 1;
    }
  }

  &.teal {
    .btn {
      &.enabled {
        background-color: $color-teal;
      }
      
      &.disabled {
        color: $color-teal;
      }
    }
  }
}
