$color-very-dark: rgb(30, 30, 29);
$color-dark: rgb(64, 63, 65);
$color-dark-50: rgba(64, 63, 65, .5);

$color-light: rgb(180, 180, 180);
$color-white: rgb(255, 255, 255);

$color-green: rgb(193, 212, 49);
$color-pink: rgb(236, 0, 140);
$color-teal: rgb(15, 186, 178);

$color-instagram: rgb(211, 44, 131);
$color-facebook: rgb(35, 116, 225);
$color-youtube: rgb(255, 0, 0);
$color-whatsapp: rgb(0, 230, 118);
