@import 'colors.scss';

.container.narrow,
.container-md.narrow,
.container-lg.narrow {
  max-width: 720px;
}

.entry-content {
  color: $color-light;
}

.list-entry-item {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid $color-light;
  transition: border-color 120ms linear;

  article {
    transition: opacity 120ms linear;

    img {
      width: 100%;
      height: auto;
    }

    h3.entry-title {
      color: $color-white;
    }

    h4 {
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: $color-green;

      &.color.post { color: $color-green; }
      &.color.event { color: $color-pink; }
      &.color.page { color: $color-teal; }
    }
  }

  &[href]:hover,
  &[href]:active {
    border-color: $color-dark;

    article {
      opacity: .7;
    }
  }
}

article {
  a {
    color: inherit;
    text-decoration: none;
  }

  .entry-content {
    a {
      color: $color-white;
      text-decoration: underline;
      
      &:hover,
      &:active {
        color: $color-green;
      }
    }

    blockquote {
      padding: .25em 1em;
      font-size: 1.4em;
      line-height: 1.4em;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.title-cover {
  div.back {
    a {
      color: $color-light;

      &:hover,
      &:active {
        color: $color-white;
      }
    }
  }

  .titles {
    .entry-title {
      a {
        color: $color-white;

        &:hover,
        &:active {
          color: $color-light;
        }
      }
    }
    
    h2.subtitle {
      color: $color-light;
      font-size: 1.5em;
    }

    h3 {
      color: $color-light;
      font-size: 1.1em;
    }
  }
}

.entry-meta {
  .author {
    display: block;
    font-weight: bold;
    font-size: 1.4em;

    a:hover,
    a:active {
      color: $color-green;
    }
  }

  .entry-date {
    display: block;
    font-size: 1em;
    color: $color-light
  }

  .categories,
  .tags {
    display: block;
    font-size: 1em;
    color: $color-light;

    span {
      color: $color-white;
    }
  }

  .categories a:hover,
  .categories a:active {
    color: $color-pink;
  }

  .tags a:hover,
  .tags a:active {
    color: $color-teal;
  }
}

.post-edit-link:hover,
.post-edit-link:active {
  color: $color-green;
}

nav.pagination {
  a {
    color: $color-light;
    text-decoration: none;

    &:hover,
    &:active {
      color: $color-white;
    }
  }
}
