@import 'colors.scss';

form.search-form {
  input.search-field {
    padding: .25em .5em;
    color: $color-light;
    border: 1px solid $color-light;
    background: transparent;
    transition: all 120ms linear;

    &:hover,
    &:focus {
      color: $color-white;
      border-color: $color-white;
    }
  }
  
  input.search-submit {
    padding: .25em .5em;
    color: $color-dark;
    border: 1px solid $color-light;
    background: $color-light;
    transition: all 120ms linear;

    &:hover,
    &:active {
      background-color: $color-white;
      border-color: $color-white;
    }
  }
}

@media screen and (max-width:575px) {
  form.search-form {
    width: 100%;

    label,
    input.search-field,
    input.search-submit {
      display: block;
      width: 100%;
    }
  }
}
