@import 'colors.scss';

.socials {
  list-style: none;
  padding: 0;

  a {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    transition: all 100ms ease-out;
    background: $color-dark;
    box-shadow: 0 0 0 0 $color-white;
    font-size: 0;
    color: transparent;

    &::before {
      content: '';
      display: block;
      margin: 25%;
      width: 50%;
      height: 50%;
      background: center no-repeat $color-white;
      transition: background-color 100ms linear;
    }
  }

  li.instagram a {
    background: $color-instagram;

    &::before {
      -webkit-mask-image: url('../images/icon-instagram.svg');
      mask-image: url('../images/icon-instagram.svg');
    }
  }

  li.facebook a {
    background: $color-facebook;

    &::before {
      -webkit-mask-image: url('../images/icon-facebook.svg');
      mask-image: url('../images/icon-facebook.svg');
    }
  }

  li.youtube a {
    background: $color-youtube;

    &::before {
      -webkit-mask-image: url('../images/icon-youtube.svg');
      mask-image: url('../images/icon-youtube.svg');
    }
  }

  li.whatsapp a {
    background: $color-whatsapp;

    &::before {
      -webkit-mask-image: url('../images/icon-whatsapp.svg');
      mask-image: url('../images/icon-whatsapp.svg');
    }
  }

  &.big {
    li {
      margin: 1rem;
    }

    a {
      width: 150px;
      height: 150px;

      &:hover,
      &:focus {
        transform: translateX(-10px) translateY(-10px);
        box-shadow: 10px 10px 0 0 $color-white;
      }
    }
  }

  &.small {
    a {
      width: 40px;
      height: 40px;
      background-color: transparent !important;
    }

    li.instagram {
      a:hover::before,
      a:active::before { background-color: $color-instagram; }
    }
    
    li.facebook {
      a:hover::before,
      a:active::before { background-color: $color-facebook; }
    }
    
    li.youtube {
      a:hover::before,
      a:active::before { background-color: $color-youtube; }
    }
    
    li.whatsapp {
      a:hover::before,
      a:active::before { background-color: $color-whatsapp; }
    }
  }
}

@media screen and (max-width:1199px) {
  .socials {
    &.big {
      a {
        width: 80px;
        height: 80px;

        &:hover,
        &:focus {
          transform: translateX(-5px) translateY(-5px);
          box-shadow: 5px 5px 0 0 $color-white;
        }
      }
    }
  }
}

@media screen and (max-width:575px) {
  .socials {
    &.big {
      li {
        margin: .5rem;
      }

      a {
        width: 60px;
        height: 60px;
      }
    }
  }
}