@import 'colors.scss';

.top-menu {
  position: relative;

  nav.navbar {
    background-color: $color-dark;
    color: $color-white;
    box-shadow: 0 1px 1px -1px $color-green;

    .navbar-brand {
      margin-right: 0;

      img {
        height: 60px;
      }
    }
  }
}

body.admin-bar .top-menu nav.navbar.fixed-top {
  top: 32px;
}

@media screen and (max-width:575px) {
  .top-menu {
    nav.navbar {
      .navbar-brand {
        img {
          height: 32px;
        }
      }
    }
  }
}